---
interface Props {
  text: string;                             
  href: string;       
  icon?: {                                  
    nameIcon: string;                       
    side: "left" | "right";                 
  };
  classes?: string;                         
}

const {
  text,
  href,
  icon,
  classes,
  ...rest
} = Astro.props as Props;
---

<a
  href={href}
  class:list={[ "link", classes ]}
  {...rest}>
  
  <slot name="left"/>

  { icon && icon.side === "left" && ( <i class={icon.nameIcon}></i>) }

  <span>{text}</span>

  <slot name="right"/>

  { icon && icon.side === "right" && ( <i class={icon.nameIcon}></i>) }
</a>
